##############################################################################################
# IDEs
##############################################################################################

# IntelliJ
.idea

# Visual Studio Code
.vscode

##############################################################################################
# Credentials
##############################################################################################

# AWS credentials
.aws
*.pem
credentials.txt